{% extends "userManage/user_base.html" %}
{% block title %}用户信息{% endblock %}

{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8 in-center">
   <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户信息</h3>
    </div>
    <div class="panel-body row">
        <table class="table">
             <tr>
                 <td>用户名：</td>
                 <td><strong>{{user.username}}</strong></td>
             </tr>
             <tr>
                 <td>邮箱：</td>
                 <td><strong>{{ wrap_user.user.email }}</strong></td>
             </tr>
              <tr>
                 <td>签名：</td>
                 <td><strong>
                     {% if wrap_user.signature %}
                        {{ wrap_user.signature }}
                     {% else %}
                        还没有签名哟！
                     {% endif %}
                 </strong></td>
             </tr>
              <tr>
                 <td>注册时间：</td>
                 <td><strong>{{wrap_user.created_at}}</strong></td>
             </tr>
             <tr>
                 <td>是否会员：</td>
                 <td><strong>
                {% if wrap_user.membership %}
                    是
                {% else %}
                    否
                {% endif %}
                 </strong></td>
             </tr>
        </table>
    </div>
   </div>
</div>
<div class="col-md-2"></div>

{% endblock %}