 <ul class="pagination">

                    <li  {% if contacts.has_previous %} {% else %} class="disabled" {% endif %}>
                        <a class='paginator' title='上一页' {% if contacts.has_previous %}href='?page={{ contacts.previous_page_number}}'{% else %} href='#' {% endif %}>
                            <span>«</span>
                        </a>
                    </li>
                 {% for p in contacts.paginator.page_range %}
                    {% ifequal p contacts.number %}
                        <li class='active'><a title='当前页:{{ p }}'><span>{{ p }}</span></a></li>
                    {% else %}
                        <li><a  href='?page={{ p }}' title='{{ p }}'><span>{{ p }}</span></a></li>
                    {% endifequal %}
                 {% endfor %}
                    <li {% if contacts.has_next %} {% else %}class="disabled" {% endif %}>
                        <a class="paginator" title='下一页' {% if contacts.has_next %}href='?page={{ contacts.next_page_number }}'{% else %} href='#' {% endif %}>
                            <span>»</span>
                        </a>
                    </li>
</ul>